<!doctype html>
<html lang="en">

<head>
   <%- include(header) %>
</head>

<body>

  <%- include(nav) %>


    <h1>  <%= title %></h1>
    
    <p><%= content %></p>
    
    <%- include('../partials/' +  testfile) %>

   
   <%- include(footer) %>
  
  </body>
</html>
